.btn-lg,
.nav-pills > li > a,
.container .jumbotron {
    border: 0px;
    border-radius: 0px;
}

#upload-button,
#file-picker {
    margin-top: 30px;
}

div#image-container {
    max-width: 500px;
}

div#image-container > img {
    max-width: 100%;
}

.hidden {
	display: none !important;
}
.header {
    background-color: #66ccff;
    color: #000000;
    padding: 15px;
    height: 75px;
}
.footer {
    background-color: #66ccff;
    color: #000000;
    text-align: center;
    font-size: 12px;
    padding: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    /* Height of the footer */
}